// colors
$color-gold-at-night: rgb(38, 30, 0);
$color-lobster-at-night: rgb(38, 11, 8);
$color-fushia-at-night: rgb(36, 8, 51);
$color-sea-at-night: rgb(0, 8, 51);
$color-jade-at-night: rgb(6, 35, 28);

$color-midnight: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-gold: rgb(255, 221, 0);
$color-lobster: rgb(255, 75, 51);
$color-fushia: rgb(179, 43, 255);
$color-sea: rgb(0, 41, 255);
$color-jade: rgb(55, 225, 123);

$color-ivory: rgb(238, 237, 228);
$color-lemon: rgb(250, 225, 135);
$color-peach: rgb(232, 144, 125);
$color-lavender: rgb(151, 125, 232);
$color-sky: rgb(94, 155, 246);
$color-grass: rgb(154, 225, 153);

$color-lemon-in-bright-light: rgb(253, 246, 219);
$color-peach-in-bright-light: rgb(248, 222, 216);
$color-lavender-in-bright-light: rgb(224, 216, 248);
$color-sky-in-bright-light: rgb(207, 225, 252);
$color-grass-in-bright-light: rgb(225, 246, 224);

// fonts
$font-family-ibm-plex-sans: 'IBM Plex Sans';
$font-family-neue-machina: 'Neue Machina';
$font-family-feeling-passionate: 'Feeling Passionate';
