@use "./utility/variables" as *;

$colours: (
  "gold-at-night": $color-gold-at-night,
  "lobster-at-night": $color-lobster-at-night,
  "fushia-at-night": $color-fushia-at-night,
  "sea-at-night": $color-sea-at-night,
  "jade-at-night": $color-jade-at-night,
  //
  "midnight": $color-midnight,
  "white": $color-white,
  "gold": $color-gold,
  "lobster": $color-lobster,
  "fuschia": $color-fushia,
  "sea": $color-sea,
  "jade": $color-jade,
  //
  "ivory": $color-ivory,
  "lemon": $color-lemon,
  "peach": $color-peach,
  "lavender": $color-lavender,
  "sky": $color-sky,
  "grass": $color-grass,
  //
  "lemon-in-bright-light": $color-lemon-in-bright-light,
  "peach-in-bright-light": $color-peach-in-bright-light,
  "lavender-in-bright-light": $color-lavender-in-bright-light,
  "sky-in-bright-light": $color-sky-in-bright-light,
  "grass-in-bright-light": $color-grass-in-bright-light,
);

@each $key, $val in $colours {
  .color-#{$key} {
    color: $val;
  }
}

@each $key, $val in $colours {
  .bg-#{$key} {
    background-color: $val;
  }
}

.bg-fuschia_grid {
  background: $color-fushia;
  background-image: linear-gradient(#9d07ef 1rem, transparent 0.1em),
    linear-gradient(90deg, #9d07ef 1rem, transparent 0.1em);
  background-size: 18.55vw 32.875vh;

  color: $color-white;
}

.bg-sea_grid {
  background: $color-sea;
  background-image: linear-gradient(#0024de 1rem, transparent 0.1em),
    linear-gradient(90deg, #0024de 1rem, transparent 0.1em);
  background-size: 18.55vw 32.875vh;

  color: $color-jade;
}

.bg-gold_grid {
  background: $color-gold;
  background-image: linear-gradient(#ffc700 1rem, transparent 0.1em),
    linear-gradient(90deg, #ffc700 1rem, transparent 0.1em);
  background-size: 18.55vw 32.875vh;

  color: $color-lobster;
}

.bg-jade_grid {
  background: #76edd1;
  background-image: linear-gradient(#5eceb3 1rem, transparent 0.1em),
    linear-gradient(90deg, #5eceb3 1rem, transparent 0.1em);
  background-size: 18.55vw 32.875vh;

  color: $color-sea;
}

.bg-lobster_grid {
  background: $color-lobster;
  background-image: linear-gradient(#f33c23 1rem, transparent 0.1em),
    linear-gradient(90deg, #f33c23 1rem, transparent 0.1em);
  background-size: 18.55vw 32.875vh;

  color: $color-white;
}

.bg-ivory_grid {
  background: $color-ivory;
  background-image: linear-gradient(#e0dfd3 1rem, transparent 0.1em),
    linear-gradient(90deg, #e0dfd3 1rem, transparent 0.1em);
  background-size: 18.55vw 32.875vh;

  color: $color-lobster;
}
