@use "./utility/variables" as *;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-ibm-plex-sans;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: $color-midnight;
  background-color: $color-ivory;
  margin: 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}
h1 {
  font-family: $font-family-neue-machina;
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 70px;
    line-height: 70px;
  }
}
h2 {
  font-weight: 300;
  font-size: 27px;
  line-height: 36px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 45px;
  }
}
h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 27px;
    line-height: 36px;
  }
}
h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  h4 {
    font-size: 18px;
    line-height: 27px;
  }
}
h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
@media (min-width: 768px) {
  h5 {
    font-size: 14px;
    line-height: 22px;
  }
}

p {
  line-height: 0.8em;
}

ul {
  list-style: none;
  padding-left: 6rem;

  li {
    position: relative;
    font-size: 3.125rem;

    &:before {
      content: "";
      position: absolute;
      min-height: 2.875rem;
      min-width: 2.875rem;
      top: 0;
      left: 0;
      margin-top: -6px;
      margin-left: -5.875rem;
      background-color: $color-sea;
    }

    & + li {
      margin-top: 4.55rem;
    }
  }
}

table {
  width: 100%;
  padding: 0 2rem 0 0;

  tbody {
    width: 100%;

    tr {
      display: block;
      width: 100%;
    }

    tr > td:last-of-type {
      width: 100%;
      text-align: right;
    }
  }
}
