@use './utility/fonts' as *;

.font-family-ibm-plex-sans {
  font-family: $font-family-ibm-plex-sans;
}

.font-family-neue-machina {
  font-family: $font-family-neue-machina;
}

.font-family-feeling-passionate {
  font-family: $font-family-feeling-passionate;
}
