.color-gold-at-night {
  color: #261e00;
}

.color-lobster-at-night {
  color: #260b08;
}

.color-fushia-at-night {
  color: #240833;
}

.color-sea-at-night {
  color: #000833;
}

.color-jade-at-night {
  color: #06231c;
}

.color-midnight {
  color: black;
}

.color-white {
  color: white;
}

.color-gold {
  color: #ffdd00;
}

.color-lobster {
  color: #ff4b33;
}

.color-fuschia {
  color: #b32bff;
}

.color-sea {
  color: #0029ff;
}

.color-jade {
  color: #37e17b;
}

.color-ivory {
  color: #eeede4;
}

.color-lemon {
  color: #fae187;
}

.color-peach {
  color: #e8907d;
}

.color-lavender {
  color: #977de8;
}

.color-sky {
  color: #5e9bf6;
}

.color-grass {
  color: #9ae199;
}

.color-lemon-in-bright-light {
  color: #fdf6db;
}

.color-peach-in-bright-light {
  color: #f8ded8;
}

.color-lavender-in-bright-light {
  color: #e0d8f8;
}

.color-sky-in-bright-light {
  color: #cfe1fc;
}

.color-grass-in-bright-light {
  color: #e1f6e0;
}

.bg-gold-at-night {
  background-color: #261e00;
}

.bg-lobster-at-night {
  background-color: #260b08;
}

.bg-fushia-at-night {
  background-color: #240833;
}

.bg-sea-at-night {
  background-color: #000833;
}

.bg-jade-at-night {
  background-color: #06231c;
}

.bg-midnight {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.bg-gold {
  background-color: #ffdd00;
}

.bg-lobster {
  background-color: #ff4b33;
}

.bg-fuschia {
  background-color: #b32bff;
}

.bg-sea {
  background-color: #0029ff;
}

.bg-jade {
  background-color: #37e17b;
}

.bg-ivory {
  background-color: #eeede4;
}

.bg-lemon {
  background-color: #fae187;
}

.bg-peach {
  background-color: #e8907d;
}

.bg-lavender {
  background-color: #977de8;
}

.bg-sky {
  background-color: #5e9bf6;
}

.bg-grass {
  background-color: #9ae199;
}

.bg-lemon-in-bright-light {
  background-color: #fdf6db;
}

.bg-peach-in-bright-light {
  background-color: #f8ded8;
}

.bg-lavender-in-bright-light {
  background-color: #e0d8f8;
}

.bg-sky-in-bright-light {
  background-color: #cfe1fc;
}

.bg-grass-in-bright-light {
  background-color: #e1f6e0;
}

.bg-fuschia_grid {
  background: #b32bff;
  background-image: linear-gradient(#9d07ef 1rem, transparent 0.1em), linear-gradient(90deg, #9d07ef 1rem, transparent 0.1em);
  background-size: 33.8rem 29.85rem;
  color: white;
}

.bg-sea_grid {
  background: #0029ff;
  background-image: linear-gradient(#0024de 1rem, transparent 0.1em), linear-gradient(90deg, #0024de 1rem, transparent 0.1em);
  background-size: 33.8rem 29.85rem;
  color: #37e17b;
}

.bg-gold_grid {
  background: #ffdd00;
  background-image: linear-gradient(#ffc700 1rem, transparent 0.1em), linear-gradient(90deg, #ffc700 1rem, transparent 0.1em);
  background-size: 33.8rem 29.85rem;
  color: #ff4b33;
}

.bg-jade_grid {
  background: #76edd1;
  background-image: linear-gradient(#5eceb3 1rem, transparent 0.1em), linear-gradient(90deg, #5eceb3 1rem, transparent 0.1em);
  background-size: 33.8rem 29.85rem;
  color: #0029ff;
}

.bg-lobster_grid {
  background: #ff4b33;
  background-image: linear-gradient(#f33c23 1rem, transparent 0.1em), linear-gradient(90deg, #f33c23 1rem, transparent 0.1em);
  background-size: 33.8rem 29.85rem;
  color: white;
}

.bg-ivory_grid {
  background: #eeede4;
  background-image: linear-gradient(#e0dfd3 1rem, transparent 0.1em), linear-gradient(90deg, #e0dfd3 1rem, transparent 0.1em);
  background-size: 33.8rem 29.85rem;
  color: #ff4b33;
}

.center {
  text-align: center;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}
.column > * {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}
.row > * {
  margin: 0;
}

.space-around {
  justify-content: space-around;
}

.equal-width > * {
  flex: 1 1 0;
}

.fill-screen {
  height: 100vh;
  width: 100vw;
}

.fill-vh {
  height: 100vh;
}

.fill-vw {
  width: 100vw;
}

.fill-space {
  width: 100%;
  height: 100%;
}

.absolute {
  position: absolute;
}

tr[data-highlight=true] {
  color: #0029ff;
}

.inset-dot {
  padding: 0 0 0 4rem;
}
.inset-dot:before {
  position: absolute;
  content: "";
  min-height: 2.875rem;
  min-width: 2.875rem;
  margin-left: -4rem;
  background-color: #0029ff;
}

form > * + * {
  margin-top: 2rem;
}

label {
  font-size: 1.25rem;
}

input[type=text],
input[type=number],
input[type=email],
input[type=tel] {
  height: 3.75rem;
  font-size: 1.25rem;
  padding-left: 0.75rem;
}

input[type=checkbox] {
  width: 2.875rem;
  height: 2.875rem;
  margin-right: 1rem;
}
input[type=checkbox] + label {
  display: block;
  padding-left: 3.75rem;
  margin-top: -3.2rem;
}

.button {
  display: inline-block;
  color: white;
  background-color: #0029ff;
  padding: 2rem 3rem;
  font-size: 1.75rem;
  text-decoration: none;
}
.button + * {
  margin-top: 3rem;
}

button {
  padding: 1.5rem 2.25rem;
  font-size: 1.75rem;
  color: white;
  background-color: #0029ff;
  border: none;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: normal;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  font-style: italic;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  font-style: normal;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  font-style: italic;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-SemiBoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-style: normal;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 500;
  font-style: italic;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: italic;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: normal;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 300;
  font-style: italic;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 200;
  font-style: normal;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 200;
  font-style: italic;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-ExtraLightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 100;
  font-style: normal;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 100;
  font-style: italic;
  src: url() format("woff2"), url() format("woff"), url(./fonts/IBMPlexSans-ThinItalic.ttf) format("truetype");
}
@font-face {
  font-family: "Neue Machina";
  font-weight: 900;
  font-style: normal;
  src: url(./fonts/NeueMachina-Black.woff2) format("woff2"), url(./fonts/NeueMachina-Black.woff) format("woff"), url() format("opentype"), url() format("eot");
}
@font-face {
  font-family: "Neue Machina";
  font-weight: 800;
  font-style: normal;
  src: url(./fonts/NeueMachina-Ultrabold.woff2) format("woff2"), url(./fonts/NeueMachina-Ultrabold.woff) format("woff"), url() format("opentype"), url() format("eot");
}
@font-face {
  font-family: "Neue Machina";
  font-weight: 600;
  font-style: normal;
  src: url(./fonts/NeueMachina-Bold.woff2) format("woff2"), url(./fonts/NeueMachina-Bold.woff) format("woff"), url() format("opentype"), url() format("eot");
}
@font-face {
  font-family: "Neue Machina";
  font-weight: 500;
  font-style: normal;
  src: url(./fonts/NeueMachina-Medium.woff2) format("woff2"), url(./fonts/NeueMachina-Medium.woff) format("woff"), url() format("opentype"), url() format("eot");
}
@font-face {
  font-family: "Neue Machina";
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/NeueMachina-Regular.woff2) format("woff2"), url(./fonts/NeueMachina-Regular.woff) format("woff"), url() format("opentype"), url() format("eot");
}
@font-face {
  font-family: "Neue Machina";
  font-weight: 300;
  font-style: normal;
  src: url(./fonts/NeueMachina-Light.woff2) format("woff2"), url(./fonts/NeueMachina-Light.woff) format("woff"), url() format("opentype"), url() format("eot");
}
@font-face {
  font-family: "Neue Machina";
  font-weight: 100;
  font-style: normal;
  src: url(./fonts/NeueMachina-Ultralight.woff2) format("woff2"), url(./fonts/NeueMachina-Ultralight.woff) format("woff"), url() format("opentype"), url() format("eot");
}
@font-face {
  font-family: "Feeling Passionate";
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/Feeling-Passionate.woff2) format("woff2"), url(./fonts/Feeling-Passionate.woff) format("woff"), url(./fonts/Feeling-Passionate.ttf) format("truetype"), url() format("opentype");
}
.font-family-ibm-plex-sans {
  font-family: "IBM Plex Sans";
}

.font-family-neue-machina {
  font-family: "Neue Machina";
}

.font-family-feeling-passionate {
  font-family: "Feeling Passionate";
}

* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: black;
  background-color: #eeede4;
  margin: 0;
  overflow: hidden;
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}
h1 {
  font-family: "Neue Machina";
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 70px;
    line-height: 70px;
  }
}
h2 {
  font-weight: 300;
  font-size: 27px;
  line-height: 36px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 45px;
  }
}
h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 27px;
    line-height: 36px;
  }
}
h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {
  h4 {
    font-size: 18px;
    line-height: 27px;
  }
}
h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 768px) {
  h5 {
    font-size: 14px;
    line-height: 22px;
  }
}
p {
  line-height: 0.8em;
}

ul {
  list-style: none;
  padding-left: 6rem;
}
ul li {
  position: relative;
  font-size: 3.125rem;
}
ul li:before {
  content: "";
  position: absolute;
  min-height: 2.875rem;
  min-width: 2.875rem;
  top: 0;
  left: 0;
  margin-top: -6px;
  margin-left: -5.875rem;
  background-color: #0029ff;
}
ul li + li {
  margin-top: 4.55rem;
}

table {
  width: 100%;
  padding: 0 2rem 0 0;
}
table tbody {
  width: 100%;
}
table tbody tr {
  display: block;
  width: 100%;
}
table tbody tr > td:last-of-type {
  width: 100%;
  text-align: right;
}
